h1{
    text-align: center;
    font-size: 150px;
    color: darkgoldenrod;
    background-color: cornflowerblue;
}
p{
    text-align: justify;
    font-size: 50px;
    color: indigo;
}
aside{
    background-color: darkmagenta;
}
header{
    font-size: 200px;
    color: aquamarine;
    background-color: firebrick;
    text-align: center;
}